.employees {
    width: 100%;
    height: auto;
    background-color: darkslategray;
    margin: 0 auto;
}

th {
    background-color: darkslategray;
    color: white;
    font-size: x-large;
    font-weight:bolder;
}