.box {
    width: 500px;
    min-height: 114px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid black;
}

.employeeName {
    font-weight: bolder;
    text-align: left;
}

.skills {
    bottom: 0px;
    display: inline-flex;
    justify-content:left;
    flex-wrap:wrap;

}

.skill {
    box-sizing: border-box;
    color: white;
    font-size: 10px;
    font-weight: bold;
    max-width: 100px;
    max-height: 20px;
    margin: 8px;
    border-radius: 5px;
    background-color: black;
    padding: 5px;

}

.deleteButton {
    background-color: red;
    color: white;
    font-weight:bold;
    font-size: 16px;
    padding: 3px;
    margin: 3px;
}

.editButton {
    background-color: darkorange;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 3px;
    margin: 3px;
}